# This file is required since we use ReadTheDocs services.
# If it is not used, feel free to delete it.

numpy==1.19.4
sphinx-autodoc-typehints==1.12.0; python_version >= "3.6"
sphinx-rtd-theme==0.5.2
sphinx==3.5.4; python_version >= "3.5"
sphinxcontrib-applehelp==1.0.2; python_version >= "3.6"
sphinxcontrib-devhelp==1.0.2; python_version >= "3.6"
sphinxcontrib-htmlhelp==2.0.0; python_version >= "3.6"
sphinxcontrib-jsmath==1.0.1; python_version >= "3.6"
sphinxcontrib-qthelp==1.0.3; python_version >= "3.6"
sphinxcontrib-serializinghtml==1.1.5; python_version >= "3.6"
jinja2==3.0.3; python_version >= "3.6"
